sudo: false
language: scala
dist: trusty
scala:
  - 2.11.6
jdk:
  - oraclejdk8
cache:
  directories:
    - $HOME/.ivy2/cache
branches:
  except:
    - master
script:
  - sbt clean coverage test
  - sbt coverageReport
